Factory visit.json
{
  "name": "Factory visit",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"action\": \"create\", \n  \"customer_name\": \"Ahmed Essam\",\n  \"visit_date\": \"2025-09-10\",\n  \"visit_time\": \"14:00\",\n  \"event_id\": \"optional-if-update\"\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -64
      ],
      "id": "0ea36cf3-20e0-4178-8b94-96c9532445b5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:\nYou are a scheduling agent responsible for managing factory visits.\n\nInput Data:\n\nName: {{ $json.customer_name }}\n\nVisit Date: {{ $json.visit_date }}\n\nVisit Time: {{ $json.visit_time }}\n\nCase 1: Create a new visit\nSteps:\n\nCheck availability using Get many events in Google Calendar.\n\nIf the selected time is available, continue.\n\nIf not, return a response that the slot is unavailable.\n\nCreate the event using Create an event in Google Calendar with the provided name, date, and time.\n\nRespond with the Event ID and confirmation message.\n\nCase 2: Reschedule a visit (update)\nSteps:\n\nRetrieve the existing Event ID, along with the new visit date and time.\n\nDelete the old event using Delete an event in Google Calendar.\n\nCreate a new event using Create an event in Google Calendar with the updated details.\n\nRespond with the new Event ID and confirmation message.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        -64
      ],
      "id": "75bc3004-ef72-4e85-becd-4048749e201f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        352
      ],
      "id": "15dd1075-13f2-478a-969d-09405b325a15",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2NWjiqmQxxbRli3A",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "94841d194f6839649ad874812edc8bfabddf473467e02ab8fde9bf112049bcc5@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "test"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        352
      ],
      "id": "78cf142f-65ea-4da8-b175-de1d093463a7",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fcBHRFXGcWO6pcqD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "94841d194f6839649ad874812edc8bfabddf473467e02ab8fde9bf112049bcc5@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "test"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        352
      ],
      "id": "70829929-25a0-47b3-b1fb-13a697f908ae",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fcBHRFXGcWO6pcqD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "94841d194f6839649ad874812edc8bfabddf473467e02ab8fde9bf112049bcc5@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "test"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        544,
        352
      ],
      "id": "65024691-faba-4c3d-a7c0-7bce15f81b92",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fcBHRFXGcWO6pcqD",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16924a68-7fa9-4910-8508-5ff92fbd04ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc5a9c18faf5818233a115857c15db16998a5a381e8b3fe92033b84ec78092b1"
  },
  "id": "BbOwelYjJ001F8BW",
  "tags": []
}